/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/_modelagem/Telas.bmpr
/_modelagem/json_cc.json
/_modelagem/json_usuarios.json
/public/docs
